.navigation-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    height: 160px;
    padding-left: 50px;
    margin: 0;
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.8); 
    box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.8);

    .logo-wrapper {
        img {
            height: 150px;
            width: 100%;
        }
    }

    .nav-link-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50vw;
        margin-right: 70px;

        .nav-link {
            a {
                text-decoration: none;
                color: black;
                font-size: 2em;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: #BD1E2C;
                }
            }
        }
    }
}